<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>468720877309-le4druojk7jqv2c1i9ormvt1fhc1vqu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468720877309-le4druojk7jqv2c1i9ormvt1fhc1vqu6</string>
	<key>API_KEY</key>
	<string>AIzaSyBArF0cGkB1HSgiuRJSLfzpguveqOxT8AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>468720877309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebasefindservices.ios</string>
	<key>PROJECT_ID</key>
	<string>lonzobbb-ada10</string>
	<key>STORAGE_BUCKET</key>
	<string>lonzobbb-ada10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:468720877309:ios:2e9acfbd9cda6b94</string>
	<key>DATABASE_URL</key>
	<string>https://lonzobbb-ada10.firebaseio.com</string>
</dict>
</plist>